<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"/> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"/> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"/> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"/> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>EASY FILM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
    <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
    <meta name="author" content="FREEHTML5.CO" />


    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="../favicon.ico"/>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'/>

    <!-- Animate.css -->
    <link rel="stylesheet" href="../css/animate.css"/>
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="../css/icomoon.css"/>
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="../css/simple-line-icons.css"/>
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="../css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="../css/owl.theme.default.min.css"/>
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="../css/bootstrap.css"/>

    <link rel="stylesheet" href="../css/style.css"/>

    <!-- Styleswitcher ( This style is for demo purposes only, you may delete this anytime. ) -->
    <link rel="stylesheet" id="theme-switch" href="../css/style.css"/>
    <!-- End demo purposes only -->

    <!-- Modernizr JS -->
    <script src="../js/modernizr-2.6.2.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="../js/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<header role="banner" id="fh5co-header">
    <div class="container">
        <!-- <div class="row"> -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <!-- Mobile Toggle Menu Button -->
                <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
                <a class="navbar-brand" href="/home">Easy Film</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/home" data-nav-section="home"><span th:text="${active}"></span></a></li>
                    <li th:if="${nombreUsuario == 'admin'}" class="active"><a href="/admin/users" data-nav-section="home"><span>Users</span></a></li>
                    <li th:if="${nombreUsuario == 'admin'}" class="active"><a href="/admin/movies" data-nav-section="home"><span>Movies</span></a></li>
                    <li class="active"><a href="/favs" data-nav-section="home"><span>Favorites</span></a></li>
                    <li class="active"><a href="/login?logout" data-nav-section="home"><span>Logout</span></a></li>
                </ul>
            </div>
        </nav>
        <!-- </div> -->
    </div>
</header>

<div id="fh5co-press" data-section="press">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading">
                <div th:if="${type == 'user'}" class="container">
                    <h2>User sign up</h2>
                    <h3>Fields with (*) are required</h3>
                    <form th:action="@{/create?type=user}" th:object="${usuario}" method="post">
                        <div class="form-group">
                            <label>(*) Username: </label>
                            <input type="text" class="form-control" th:field="*{user}" th:errorclass="errorfield"/>
                            <label th:if="${wrongUsername}" style="color:red">Username must neither exist nor contain spaces nor be less than 3 letters</label>
                        </div>

                        <div class="form-group">
                            <label>(*) Email: </label>
                            <input type="text" class="form-control" th:field="*{email}" th:errorclass="errorfield"/>
                            <label th:if="${wrongMail}" style="color:red"> Wrong Email format or duplicated</label>
                        </div>

                        <div class="form-group">
                            <label>(*) Password: </label>
                            <input type="password" class="form-control" th:field="*{password}" th:errorclass="errorfield"/>
                            <label th:if="${wrongPwd}" style="color:red"> Password is too short </label>
                        </div>

                        <div class="form-group">
                            <label>Name: </label>
                            <input type="text" class="form-control" th:field="*{nombre}" th:errorclass="errorfield"/>
                        </div>

                        <div class="form-group">
                            <label>Privileges (Type 'yes' or 'no'): </label>
                            <input type="text" class="form-control" th:field="*{isAdmin}" th:errorclass="errorfield"/>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus-sign"></span>  Sign up
                            </button>
                        </div>
                    </form>
                </div>

                <div th:if="${type == 'multimedia'}" class="container">
                    <h2>Movie sign up</h2>
                    <h3>Fields with (*) are required</h3>
                    <form th:action="@{/create?type=multimedia}" th:object="${pelicula}" method="post">
                        <div class="form-group">
                            <label>(*) Title: </label>
                            <input type="text" class="form-control" th:field="*{nombrePelicula}" th:errorclass="errorfield"/>
                            <label th:if="${wrongTitle}" style="color:red">Wrong title </label>
                        </div>

                        <div class="form-group">
                            <label>(*) Trailer URL: </label>
                            <input type="text" class="form-control" th:field="*{url_trailer}" th:errorclass="errorfield"/>
                            <label th:if="${wrongTrailer}" style="color:red"> Wrong trailer </label>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-success">
                                <span class="glyphicon glyphicon-plus-sign"></span>  Sign up movie
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




<footer id="footer" role="contentinfo">
    <div class="container">
        <div class="row row-bottom-padded-sm">
            <div class="col-md-12">
                <p class="copyright text-center">&copy; Easy Film 2017</p>
            </div>
        </div>
    </div>
</footer>





<!-- jQuery -->
<script src="../js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="../js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="../js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="../js/jquery.waypoints.min.js"></script>
<!-- Owl Carousel -->
<script src="../js/owl.carousel.min.js"></script>



<!-- Main JS (Do not remove) -->
<script src="../js/main.js"></script>

</body>
</html>
