.bg-primary {
    background-color: #000 !important;
}

.bg-circle
{
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 14px 4px;
    color: #ececec;
    text-align: center;
    border-radius: 50%;
}

.bg-circle-outline
{
    width: 50px;
    height: 50px;
    color:smoke;
    padding: 8px 2px;
    border: 2px solid;
    border-color: smoke;
    border-radius: 50%;
}


.bg-circle a, a:hover, .media a:focus
{
    text-decoration: none !important;
    outline: none;
    color: #ececec;
}
.bg-circle-outline a, a:hover, .media a:focus
{
    text-decoration: none !important;
    outline: none;
    color: #ececec;
}
